@import "../../global.scss";

.topbar {
  align-items: center;
  overflow: hidden;
  z-index: 3;
  transition: all 1s ease;
  @media (max-width: 583px) {
    background-color: green;
  }

  .top-text {
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .left {
      display: flex;
      align-items: center;
      margin-left: 5px;
      color: orange;
      @media (max-width: 600px) {
        display: flex;
        justify-content: center;
      }

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        @media (max-width: 600px) {
          font-size: 15px;
          margin: 0 auto;
        }
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @media (max-width: 600px) {
          margin-left: 8px;
        }
        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
        .span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }

  &.active {
    background-color: red;
    color: yellow;
    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .d-flex {
    background-color: black;
    align-items: center;
    height: 80px;
    @media (max-width: 583px) {
      height: 100%;
      margin-top: -15px;
    }

    .right-menu {
      display: flex;
      background-color: black;
      border-radius: 50%;
      border: 4px solid white;
      align-items: center;
      height: 70px;
      width: 70px;
      margin-right: 20px;
      @media (max-width: 800px) {
        display: none;
      }

      &:hover {
        background-color: orange;
      }

      .hamburger {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 1s ease;
        }
        @media (max-width: 800px) {
          display: none;
        }
      }
    }
    .p-2 {
      @media (max-width: 583px) {
        display: flex;
        justify-content: space-evenly;
      }
      .active {
        margin-right: 10px;
        font-size: 22px;
        color: white;
        font-weight: 400px;
        border: 4px solid transparent;
        &:hover {
          border: 4px solid orange;
          color: yellow;
        }
      }
    }
  }
}
