@import "../../global.scss";

.topbar {
  align-items: center;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s ease;

  @media (max-width: 900px) {
    height: 200px;
  }

  .top-text {
    height: 40px;
    background-color: #408773;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width: 900px) and (min-width: 500px) {
      height: 70px;
      overflow: hidden;
    }
    @media (max-width: 449px) and (min-width: 300px) {
      height: 50px;
      background-color: white;
    }
    .left {
      display: flex;
      align-items: center;
      margin-left: 5px;
      color: orange;
      @media (max-width: 600px) {
        display: flex;
        justify-content: center;
      }

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        @media (max-width: 600px) {
          font-size: 15px;
          margin: 0 auto;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 20px;
          font-weight: 400px;
          margin-right: 0px;
        }
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @media (max-width: 449px) and (min-width: 300px) {
          margin-left: 5px;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
          @media (max-width: 449px) and (min-width: 300px) {
            font-size: 16px;
            margin-right: 0px;
          }
        }
        .span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }

  &.active {
    background-color: red;
    color: yellow;
    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .d-flex {
    background-color: #408773;
    align-items: center;
    height: 80px;
    @media (max-width: 900px) {
      height: auto;
    }
    @media (max-width: 449px) and (min-width: 300px) {
      background-color: black;
      height: 50px;
      overflow: hidden;
    }
    .right-menu {
      display: flex;
      background-color: black;
      border-radius: 50%;
      border: 4px solid white;
      align-items: center;
      height: 70px;
      width: 70px;
      margin-right: 20px;
      @media (max-width: 800px) {
        display: none;
      }
      @media (max-width: 449px) and (min-width: 300px) {
        display: flex;
        border-radius: 0%;
        border: none;
        width: 40px;
      }

      &:hover {
        background-color: orange;
      }

      .hamburger {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        @media (max-width: 449px) and (min-width: 300px) {
          background-color: black;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 1s ease;
        }
        @media (max-width: 800px) {
          display: none;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          display: flex;
        }
      }
    }
    .p-2 {
      @media (max-width: 632px) {
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 180px;
        height: auto;
      }
      @media (max-width: 449px) and (min-width: 300px) {
        display: none;
      }

      .active {
        margin-right: 10px;
        font-size: 22px;
        color: white;
        font-weight: 400px;
        border: 4px solid transparent;
        &:hover {
          border: 4px solid orange;
          color: yellow;
        }
      }
    }
  }
}
