.skills {
  display: flex;
  position: relative;
  background-color: #fdfeff;
  @media (max-width: 1054px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 0.5;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    @media (max-width: 1054px) {
      display: none;
    }
    @media (max-width: 600px) and (min-width: 300px) {
      display: none;
    }

    .newimg {
      display: flex;
      overflow: hidden;
      height: 80%;
      @media (max-width: 1054px) {
        height: auto;
        margin-top: 30px;
      }
      img {
        @media (max-width: 1054px) {
          height: auto;
          width: 400px;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    @media (max-width: 1054px) {
      align-items: center;
      height: auto;
      width: auto;
    }

    .description {
      margin-top: 10%;
      h1 {
        @media (max-width: 1054px) {
          text-align: center;
        }
      }
      p {
        @media (max-width: 1054px) {
          text-align: center;
        }
        @media (max-width: 600px) and (min-width: 300px) {
          width: 300px;
          font-size: 18px;
        }
      }
      @media (max-width: 1054px) {
        height: auto;
        width: auto;
      }
    }
    .right1 {
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;
      width: 600px;

      align-items: center;
      @media (max-width: 1054px) {
        align-items: center;
        height: auto;
        width: 400px;
      }
      @media (max-width: 449px) and (min-width: 300px) {
        width: 300px;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .text {
        text-align: center;

        img {
          height: 60px;
          margin: 10px;
          background-color: lightgrey;
          border: 1px solid black;
          border-radius: 5px;
          padding: 10px;
          margin: 15px;

          @media (max-width: 449px) and (min-width: 300px) {
            height: 45px;
            margin: 11px;
            background-color: white;
          }
        }
        h3 {
          font-size: 16px;
          color: black;
        }
      }
    }
  }
  .downarrow {
    width: 600px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-content: right;

    a {
      position: relative;

      img {
        display: flex;
        width: 30px;

        animation: arrowBlink 0.9s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }

      @media (max-width: 760px) {
        display: none;
      }
    }
  }
}
