@import "../../global.scss";
.portfolio-menu {
  display: flex;
  font-size: 20px;
  margin-right: 25px;
  padding: 7px;
  cursor: pointer;
  height: 50px;
  color: black;
  border: 2px solid white;
  overflow: hidden;
  padding: 10px 10px;
  border-bottom: 2px solid grey;
  @media (max-width: 768px) {
    border: 2px solid black;
    border-radius: 10%;
  }

  &:hover {
    border: 2px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
  }

  &.active {
    background-color: red;
    color: white;
  }
  @media (max-width: 1111px) {
    font-size: 15px;
    margin-right: 5px;
  }
  @media (max-width: 800px) {
    font-size: 15px;
    margin-right: 5px;
    height: 70px;
    width: auto;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%;
    align-items: center;
  }
}
