@import "../../global.scss";
.portfolio-menu {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  height: 60px;
  color: black;
  border: 2px solid white;
  padding: 10px 10px;
  border-bottom: 2px solid grey;
  @media (max-width: 449px) and (min-width: 300px) {
  }

  @media (max-width: 768px) {
    border: 2px solid white;
    border-bottom: 2px solid grey;
    border-radius: 10%;
  }

  &:hover {
    border: 2px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
  }

  &.active {
    background-color: red;
    color: white;
  }
  @media (max-width: 1111px) {
    font-size: 15px;
    margin-right: 5px;
  }
  @media (max-width: 800px) {
    font-size: 15px;
    margin-right: 5px;
    height: 70px;
    width: auto;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%;
    align-items: center;
  }
  h3 {
    font-size: 20px;
    @media (max-width: 449px) and (min-width: 300px) {
      font-size: 12px;
      font-weight: 400px;
    }
  }
}
