.intro {
  display: flex;
  position: relative;
  overflow: hidden;
  // .ParticlesBG {
  //   background-color: red;
  //   height: 20px;
  //   z-index: 3;
  //   top: 0;
  //   left: 0;
  // }

  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    opacity: 0.8;

    border-radius: 50% 50% 50 50%;
    .imgContainer {
      width: 500px;
      border-radius: 50% 50% 50% 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 100px;
      margin-bottom: 100px;
      background-color: lightgrey;

      img {
        height: 100%;
        margin-right: 70px;
        margin-top: 49px;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    align-content: center;
    top: 25%;

    .text-box {
      box-sizing: border-box;
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      text-align: center;
      h2 {
        font-size: 35px;
        color: black;

        text-decoration: underline;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        color: white;
      }
      h3 {
        font-size: 30px;
        color: white;

        .ref {
          margin-left: 20px;
        }

        span {
          font-size: inherit;
          color: black;
          font-weight: 600;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
  .social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    margin-top: -100px;

    a.social {
      display: flex;
      transition: transform 250ms;
      align-content: center;
      align-content: center;
      margin: 10px;
    }
    a.social:hover {
      transform: translateY(-10px);
    }
    a.facebook {
      color: #4968ad;
      border: 4px solid white;
      border-radius: 10px;
    }
    a.linkedin {
      border: 4px solid white;
      border-radius: 10px;
    }
    a.github {
      color: black;
      border: 4px solid white;
      border-radius: 10px;
    }
  }
  .cv {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;

    align-content: center;
    margin-top: 20px;

    .cv1 {
      overflow: hidden;
    }
  }
  .downarrow {
    display: flex;
    width: 55%;
    justify-content: center;
    margin-top: 50px;
    a {
      position: relative;

      left: 40%;

      img {
        width: 50px;

        border-radius: 5px;
        animation: arrowBlink 0.9s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
