.intro {
  display: flex;
  position: relative;
  background-color: #b4e4ba;
  margin-left: 10px;
  margin-right: 10px;
  @media (max-width: 900px) and (min-width: 500px) {
    flex-direction: column;
  }
  @media (max-width: 449px) and (min-width: 300px) {
    flex-direction: column;
  }
  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) and (min-width: 500px) {
      flex: 1;
      width: auto;
      height: auto;
    }

    .imgContainer {
      background: conic-gradient(from 120deg at 50% -50%, #000000, #ffa91f);
      width: 500px;
      border-radius: 50%;
      display: flex;
      align-items: left;
      justify-content: center;
      position: relative;
      margin-left: 100px;
      margin-bottom: 100px;
      border: 10px solid white;

      @media (max-width: 900px) and (min-width: 500px) {
        height: auto;
        width: 250px;
        border-radius: 50%;
        border: 3px solid white;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0;
      }
      @media (max-width: 449px) and (min-width: 300px) {
        margin-top: 20px;
        margin-left: 0px;
        width: 300px;
        margin-bottom: 0px;
        align-items: center;
      }

      img {
        height: 100%;
        margin-right: 70px;
        margin-top: 49px;
        background-size: cover;
        object-fit: cover;

        @media (max-width: 900px) and (min-width: 500px) {
          margin: 0 auto;
          padding-right: 15px;
          margin-top: 10px;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          margin-right: 40px;
          margin-top: 30px;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: left;
    @media (max-width: 1392px) and (min-width: 500px) {
      flex: 0.7;
      align-items: center;
    }
    @media (max-width: 449px) and (min-width: 300px) {
      flex: 0.7;
      align-items: center;
    }
    .text-box {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-top: 100px;
      width: 600px;

      @media (max-width: 1392px) and (min-width: 500px) {
        align-items: center;
        margin-top: 30px;
      }
      @media (max-width: 449px) and (min-width: 300px) {
        align-items: center;
        margin-top: 30px;
      }
      h2 {
        display: flex;
        font-size: 35px;
        color: black;
        overflow: hidden;
        text-decoration: underline;

        @media (max-width: 1392pxpx) and (min-width: 500px) {
          font-size: 25px;
          font-weight: 800px;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 25px;
        }
      }
      h1 {
        display: flex;
        font-size: 50px;
        margin: 10px 0px;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 5px black;
        overflow: hidden;

        @media (max-width: 1392px) and (min-width: 500px) {
          font-size: 35px;
          margin-top: 30px;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 30px;
        }
      }
      h3 {
        display: flex;
        margin-top: 10px;
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 30px;
        }
      }

      .ref {
        font-size: 20px;
        display: flex;
        text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);

        @media (max-width: 1392px) and (min-width: 500px) {
          font-size: 18px;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 18px;
          height: 100px;
          width: 200px;
          text-align: center;
          color: black;
        }
      }

      span {
        display: flex;
        font-size: inherit;
        color: black;
        font-weight: 600;
        overflow: hidden;
        height: 30px;
      }
      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      p {
        font-size: 18px;
        color: #222222;
        padding-top: 30px;
        overflow: hidden;
        text-align: left;
        width: 600px;

        @media (max-width: 1392px) and (min-width: 500px) {
          text-align: center;
          width: 400px;
          align: center;
          font-size: 16px;
        }
        @media (max-width: 449px) and (min-width: 300px) {
          font-size: 18px;
          text-align: center;
          padding-top: 0px;
          margin-top: -30px;
          width: 300px;
          text-align: justify;
        }
      }
    }
  }
  .social-container {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 40px;

    a.social {
      display: flex;
      transition: transform 250ms;
      align-content: center;
      align-content: center;
      margin: 10px;
    }
    a.social:hover {
      transform: translateY(-10px);
    }
    a.facebook {
      color: #4968ad;
      border: 4px solid white;
      border-radius: 50%;
    }
    a.linkedin {
      border: 4px solid white;
      line-height: 20px;
      border-radius: 10px;
    }
    a.github {
      color: black;
      border: 4px solid white;
      border-radius: 10px;
    }
  }
  .cv {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-content: center;

    @media (max-width: 1392px) and (min-width: 500px) {
      margin-top: 30px;
    }
    @media (max-width: 449px) and (min-width: 300px) {
      margin-top: 20px;
    }
    .cv1 {
      overflow: hidden;
      button {
        background-color: black;
        &:hover {
          color: blue;
        }
      }
    }
  }
  .downarrow {
    width: 600px;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    margin-top: 30px;
    @media (max-width: 1058px) {
      margin-right: 20px;
    }

    a {
      position: relative;

      img {
        display: flex;
        width: 30px;

        animation: arrowBlink 0.9s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }

      @media (max-width: 760px) {
        display: none;
      }
    }
  }
}
